@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font:  'Nunito', sans-serif;
    --secundary-font: 'Inter', sans-serif;

    --primary-color: #19864B;
    --container-background-color: rgb(238, 238, 238);
}

html {
    font-size: 62.5%;  //1rem === 10px
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

main {
    display: flex;
}

