.navbar {
    background-color: var(--primary-color);
    



    &__content {
        width: 90%;
        max-width: 1800px;
        margin: 0 auto;
        padding: 1rem 0;

        

        & h1 {
            color: #fff;
            font-size: 5rem;
        }
    }
}