.page {
    min-height: 100vh;



    &__content__title {
        
        height: 10rem;
        display: flex;
        align-items: center;


        & p {
            font-size: 4rem;
            font-family: var(--secundary-font);
            font-weight: 600;
        }
    }
}