.projectTitle {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    height: 6rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    position: relative;
    
    
    p {
        font-size: 3rem;
        font-weight: 800;
    }



    &__dots {
        font-size: 3rem;
        cursor: pointer;

        &:hover {
            color: grey;
        }
    }





    &__menu {
        position: absolute;
        right: 0;
        top: 4rem;
        background-color: #fff;
        z-index: 9;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
        width: 30rem;
        border-radius: .5rem;
        overflow: hidden;
        cursor: pointer;


        p {
            padding: 1rem;
            font-size: 1.8rem;
            
            transition: background-color 200ms ease;

            
        }


        &__title-opt {
            display: flex;
            justify-content: space-between;

            &:hover,:focus {
                background-color: lightgray;
            }
        }


        &__delete-opt {
            display: flex;
            justify-content: space-between;

            &:hover, :focus {
                color: red;
                background-color: rgb(255, 230, 230);
            }
        }
        
    }





    &__change__menu {
        z-index: 999;
        top: 20rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50rem;
        border-radius: .8rem;
        height: 20rem;
        background-color: #fff;
        padding: 1rem;
        animation: fade-in 200ms forwards ease-in;

        & p {
            font-size: 3rem;
            font-weight: 600;
        }


        & input {
            margin-top: 2rem;
            border-radius: .8rem;
            border: none;
            height: 4rem;
            padding: 1rem;
            outline: none;
            background-color: rgb(236, 236, 236);
            width: 100%;
            font-size: 2rem;
        }


        &__actions {
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;


            & button {
                background-color: rgb(182, 110, 250);
                padding: 1rem 2rem;
                font-size: 2rem;
                border: none;
                border-radius: .8rem;
                font-family: var(--primary-font);
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: all 200ms;
                
                &:hover {
                    background-color: darken($color: rgb(182, 110, 250), $amount: 20);
                }


                &:nth-child(2) {
                    color: gray;
                    background-color: transparent;


                    &:hover {
                        background-color: gray;
                        color: #fff;
                    }
                }
            }
        }
    }

    @keyframes fade-in {
        from {

            opacity: 0;
            transform: translateY(-5rem);

        } to {

            opacity: 1;
            transform: translateY(0);
        }
    }
}