.projectItem {

    border-radius: .8rem;
    border: 1px solid lightslategray;
    height: auto;
    padding: 1rem;
    transition: box-shadow 200ms ease;


    &__image {
        background-image: url('../../assets/project_thumbnail.jpg');
        background-size: cover;
        min-height: 30rem;
        border-radius: .8rem;
    }

    &__title {
        color: #000;
        font-size: 3rem;
        font-weight: 600;
        padding: 2rem 0;
        height: 12rem;
        max-height: 12rem;
        word-wrap: break-word;
        font-family: var(--secundary-font);
    }


    &__actions {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__btn {
            font-family: var(--secundary-font);
            color: #fff;
            border: none;
            padding: 1rem 3rem;
            font-size: 2rem;
            border-radius: .8rem;
            cursor: pointer;
            font-weight: 600;
            transition: background-color 200ms ease;
        }
    }
}

.view {
    background-color: #38c938;

    &:hover {
        background-color: darken($color: #38c938, $amount: 10);
    }
}
.delete {
    background-color: rgb(250, 110, 129);
    
    &:hover {
        background-color: darken($color:rgb(250, 110, 129), $amount: 10);
    }
}