.taskCard {
    background-color: #fff;
    max-height: 10rem;
    height: 10rem;
    border-radius: .5rem;
    margin: 1rem 0;
    


    &--isDragging {
        background-color: lightgrey;
        max-height: 10rem;
        height: 10rem;
        border-radius: .5rem;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    }
}
